body {
  background-color: #f9fafb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: var(--bg-color); */
  background-color: #04a045;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: var(--primary-color); */
color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
 
}

.nav-links a {
  text-decoration: none;
  /* color: var(--text-color); */
  color: #f3f4f6;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  /* color: var(--primary-color); */
  color: #1a296b;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 0.5rem;
  color: var(--text-color);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.icon-btn:hover {
  color: var(--primary-color);
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #1a296b;
  color: rgb(209, 140, 140);
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .nav-links.active {
    transform: translateY(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .search-box {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
